<div mdbModal #basicModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title vw-100 font-weight-bold">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" (click)="this.close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="text-center text-danger font-weight-bold" *ngIf="isLoginFailed">{{errorMessage}}</div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
