/* Required for full background image */

html,
body,
header,
#intro-section,
{
  height: 100vh !important;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  #intro-section {
    min-height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #563e91 !important;
}

::ng-deep .navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  ::ng-deep .navbar:not(.top-nav-collapse) {
    background: dimgrey !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(169, 169, 169, 0.6), rgba(10, 10, 10, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(169, 169, 169, 0.6), rgba(10, 10, 10, 0.69) 100%);
  background: linear-gradient(45deg, rgba(169, 169, 169, 0.6), rgba(10, 10, 10, 0.69) 100%);
}

.view.mask {
  overflow: auto !important;
}
