<!-- Main navigation -->
<header>

  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>PTAH-IT</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" data-offset="90">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features" data-offset="90">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services" data-offset="90">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#opinions" data-offset="30">Opinions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team" data-offset="90">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-offset="90">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="facebook-f" class="light-green-text-2"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter" class="light-green-text-2"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="instagram" class="light-green-text-2"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

  <!-- Full Page Intro -->
  <div id="intro-section" class="view">

    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.webp" playsinline autoplay
           muted loop>
      <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
    </video>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container px-md-3 px-sm-0">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-12 mb-4 white-text text-center wow fadeIn">

            <h3 class="display-3 font-weight-bold white-text mb-0 mt-5 pt-md-5 pt-5">Creative Agency</h3>
            <hr class="hr-light my-4 w-75">
            <h4 class="subtext-header mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit
              deleniti consequuntur nihil.</h4>
            <a href="#!" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect>
              <mdb-icon fas icon="home"></mdb-icon> Visit us
            </a>
            <a mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect data-toggle="modal" data-target="#loginModal" (click)="openModal('login-modal')">
              <mdb-icon fas icon="home"></mdb-icon> Visit us
            </a>
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

      <app-modal id="login-modal" titulo="Inicia Sesión" (ngBlur)="closeModal('login-modal')">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="md-form mb-5">
            <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
            <input type="text"
                   id="defaultForm-usuario"
                   formControlName="username"
                   class="form-control"
                   mdbInput mdbValidate>
            <label for="defaultForm-usuario">Usuario</label>
            <mdb-error
              *ngIf="submitted && f['username'].errors?.['required']">
              Campo requerido
            </mdb-error>
          </div>
          <div class="md-form mb-4">
            <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
            <input type="password"
                   id="defaultForm-pass"
                   formControlName="password"
                   class="form-control"
                   mdbInput mdbValidate>
            <label for="defaultForm-pass">Password</label>
            <mdb-error
              *ngIf="submitted && f['password'].errors">
              Campo requerido
            </mdb-error>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="onSubmit()">Login</button>
          </div>
        </form>

      </app-modal>

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

</header>
<!-- Main navigation -->
